<extend name="Public:form_index_layout"/>
<block name="index_search">
		<span>
			<a class="btn btn-orange"
			href="javascript:;" onclick="$(this).navtab('reloadForm', true);"
			data-icon="undo">刷新</a>
		</span> 
		
		 <span <php>echo display(CONTROLLER_NAME.'/add');</php> style="float:right;margin-right:20px;"><a href="__URL__/add/navTabId/{:CONTROLLER_NAME}" class="btn btn-green" data-toggle="dialog" data-width="600" data-height="300" data-id="dialog-mask" data-mask="true" data-icon="plus">新增</a></span>

</block>


		
<block name="index_content">
			<table data-toggle="tablefixed" data-width="100%" data-layout-h="0"
				data-nowrap="true">
				<thead>
					<tr>
						<th width="30" height="30"></th>
						<th>编号</th>
						<th>制定日期</th>
						<th<php>echo display(CONTROLLER_NAME.'/edit');</php> >操作</th>
						<th width="70%"></th>
					</tr>
				</thead>
				<tbody>
		
					<foreach name="list" item="v">
					<tr>
						<td height=25></td>
						<Td>{$v.id}</td>
						<Td>{$v.date} </td>
						<td>
							<include file="Public/form_index_operation_layout" h="600" w="720" />
						</td>
					</tr>
					</foreach>
				</tbody>
			</table>
</block>