

<div class="bjui-pageContent">
    <form action="__URL__/changeinfo/navTabId/changeinfo" class="pageForm" data-toggle="validate">
		<input type="hidden" name="id" value="{$id}">
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-condensed table-hover" width="100%">
           <tbody>
            <tr><td>
                <label for="j_title" class="control-label x85">真实姓名：</label>
                <input type="text" data-rule="required" size="25" name="username" id="j_truename" value="{$Rs['username']}"  >
             </td></tr>
            <tr><td>
            <label for="j_title" class="control-label x85">性别：</label>
              <select name="sex"  data-toggle="selectpicker" data-rule="required">
			    <option value="男" <if condition="$Rs['sex'] EQ 男 ">selected<else/></if> >男</option>
                <option value="女" <if condition="$Rs['sex'] EQ 女 ">selected<else/></if> >女</option>
                 </select>
             </td></tr>
            <tr><td>
                <label for="j_title" class="control-label x85">固定电话：</label>
                <input type="text" data-rule="required" size="25" name="tel" id="j_tel" value="{$Rs['tel']}" >
             </td></tr>
            <tr><td>
                <label for="j_title" class="control-label x85">移动电话：</label>
                <input type="text" data-rule="required" size="25" name="phone" id="j_phone" value="{$Rs['phone']}" >
            </td></tr>
            <tr><td>
                <label for="j_title" class="control-label x85">电子邮箱：</label>
                <input type="text" data-rule="required" size="25" name="email" id="j_email" value="{$Rs['email']}" >
             </td></tr>
			<tr><td>
                <label for="j_title" class="control-label x85">内线/短号：</label>
                <input type="text"  size="25" name="ins"  value="{$Rs['ins']}" >
            </td></tr>
            </tbody>
            </table>
        </div>
        <div class="bjui-footBar">
            <ul>
                <li><button type="button" class="btn-close" data-icon="close">取消</button></li>
                <li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
            </ul>
        </div>
    </form>
</div>


			
			