
<div class="bjui-pageHeader">
	<form id="pagerForm" data-toggle="ajaxsearch" action="__URL__" method="post">
	
				<input type="hidden" name="pageSize" value="{$numPerPage}"> 
				<input type="hidden" name="pageCurrent"	value="{$_REQUEST['pageNum']|default=1}">
			    
	
        <div class="bjui-searchBar">
            <block name="index_search"></block>
        </div>

    </form>
</div>
<div class="bjui-pageContent">
	<block name="index_content"></block>
    
    <div class="bjui-footBar">
        <div class="pages">
         
            <span>共 {$totalCount} 条  每页 {$numPerPage} 条</span>
        </div>
	    <div class="pagination-box" data-toggle="pagination" data-total="{$totalCount}" data-page-size="{$pageSize}" data-page-current="{$currentPage}">
        </div>
    </div>
</div>
