
 
 <extend name="Public:form_index_pages_layout"/>
	
	<block name="index_content">
	
	
	<table data-toggle="tablefixed" data-width="100%" data-layout-h="0" data-nowrap="true">
		<thead>
			<tr>
				<th width="50px">编号</th>
				<th width="100px">标题</th>
				<th width="100px">文件名</th>
				<th width="100px">文件类型</th>
				<th width="150px">操作</th>
			</tr>
		</thead>
		<tbody>
			<foreach name="list" item="v">
			<tr>
				<td>{$v.id}</td>
				<td ><b>{$v.title}</b></td>
				<td>{$v.filedesc}</td>
				<td>{$v.filetype}</td>
				
				<td>
				<!-- href="__ROOT__/{$v.folder}{$v.filename}" -->
				<!-- href="__URL__/download/id/{$v.id}/navTabId/{:CONTROLLER_NAME}" 
				    data-toggle="dialog" 
					data-width="700"
					data-height="600" 
					data-id="dialog-mask" 
					data-mask="true"    
				-->
				<input type="hidden" name="filename" value="__ROOT__/{$v.folder}{$v.filename}" />
				<a  
					href="__ROOT__/{$v.folder}{$v.filename}"
					class="btn btn-green btn-sm" 
					data-mask="true"
					target="_blank"
					>下载</a> 
				<a 
				  href="__URL__/deleteaccessory/id/{$v.id}/navTabId/{:CONTROLLER_NAME}" 
				  class="btn btn-red btn-sm" 
				  data-toggle="doajax"  
				  data-id="dialog-mask" 
				  data-mask="true" 
				  data-icon="remove"
				  data-confirm-msg="确定要删除吗？">删除</a>	
				</td>
			</tr>
			<!-- data-id="dialog-mask" data-mask="true" -->
			</foreach>
		</tbody>
	</table>
    </block>
