<extend name="Public:form_dialog_layout"/>
	<block name="dialog_edit">
          <table class="table table-condensed table-hover" width="100%">
           <tbody>
			<tr><td>
               <label for="j_name" class="control-label x85">上级关信息类别：</label>
				<include file="Public/form_edit_switchtree_layout" />
            </td></tr>
            <tr><td>
                <label for="j_title" class="control-label x85">类别名称：</label>
                <input type="text" data-rule="required" size="30" name="name" id="j_title" value="{$Rs['name']}" >
            </td></tr>
           
			<include file="Public/form_edit_status_layout" />
			<include file="Public/form_edit_sort_layout" />
			
            </tbody>
            </table>
        </block>


			
			