<script type="text/javascript">

var nowdate=getStartTime(); 
var nowtime=new Date();
//$.fullCalendar.formatDate(new Date(),"HH:mm");
var addMinutes=15;
startminutes=nowtime.getMinutes();
if((startminutes%5)!=0){
	addMinutes+=5;
}


nowtime=DateAdd("m",addMinutes-(startminutes%5),nowtime);
nowtime=$.fullCalendar.formatDate(nowtime,"HH:mm");

//如果日期是将来日则时间限定从00 开始
var startTime =nowdate.parseDate('yyyy-MM-dd'); 
var endTime =($('#startdate').val()).parseDate('yyyy-MM-dd'); 
if(startTime<endTime){
	nowtime="00:00:00";
}


$('#starttime').datetimepicker({
	    language:  'zh-CN',
	    weekStart: 1,
	    todayBtn:  0,
		autoclose: 1,
		todayHighlight: 1,
		startView: 1,
		minView: 0,
		maxView: 1,
		viewSelect: 1,
		forceParse: 0,
		minuteStep: 5,
		//从什么时间开始
		//startDate: nowdate+" "+$('#starttime').val(),
		startDate: $('#startdate').val()+" "+nowtime,
		//endDate:"2015-08-06 14:00",
		//showMeridian: true,
		weekends: '0,6', 
		autoclose: true,
	})
	.on('changeDate', function(ev){
	    //if (ev.date.valueOf() < date-start-display.valueOf()){
	    timeAdd();
	})
	.on('outOfRange', function(ev1){
		
	})
	;

/*
$('#endtime').datetimepicker({
    language:  'zh-CN',
    weekStart: 1,
    todayBtn:  1,
	autoclose: 1,
	todayHighlight: 1,
	startView: 1,
	minView: 0,
	maxView: 1,
	forceParse: 0,
	minuteStep: 10,
	weekends: '0,6' 
})
.on('changeDate', function(ev){
	CalcTimeLen();
});
*/


function getStartTime()
{
	var startmyDate=new Date();
	
	if($('#startdate').val()==$.fullCalendar.formatDate(startmyDate,"yyyy-MM-dd"))
		{
		    //alert($('#startdate').val());
			var addMinutes=15;
			startminutes=startmyDate.getMinutes()
			if((startminutes%5)!=0){
				addMinutes+=5;
			}
			startmyDate=DateAdd("m",addMinutes-(startminutes%5),startmyDate);
			var endmyDate;
			endmyDate=startmyDate;
			//alert(startmyDate);
			var nowtime=Appendzero(startmyDate.getHours())+":"+Appendzero(startmyDate.getMinutes()); 
			endmyDate=DateAdd("m",30,endmyDate);
			//alert(startmyDate);
			var endnowtime=Appendzero(endmyDate.getHours())+":"+Appendzero(endmyDate.getMinutes()); 
			
			if($('#starttime').val()=="00:00")
			{
				$('#starttime').val(nowtime);
				$('#endtime').val(endnowtime);	
			}
			return $('#startdate').val();
		}
	else
		{
		    return $.fullCalendar.formatDate(startmyDate,"yyyy-MM-dd");
		}
}
//
function DateAdd(interval,number,date){
		switch(interval.toLowerCase()){
			case "y": return new Date(date.setFullYear(date.getFullYear()+number));
			case "M": return new Date(date.setMonth(date.getMonth()+number));
			case "d": return new Date(date.setDate(date.getDate()+number));
			case "w": return new Date(date.setDate(date.getDate()+7*number));
			case "H": return new Date(date.setHours(date.getHours()+number));
			case "m": return new Date(date.setMinutes(date.getMinutes()+number));
			case "s": return new Date(date.setSeconds(date.getSeconds()+number));
			case "l": return new Date(date.setMilliseconds(date.getMilliseconds()+number));
		}
	} 
	
function Appendzero (obj) {
	         if (obj < 10) return "0" + obj; else return obj;    
	         }	
function pad(num, n) {  
    return Array(n>num?(n-(''+num).length+1):0).join(0)+num;  
  }  

function CalcTimeLen(){
	
    var timeLen =  $('#timelength');
    var startDate= $('#startdate');
    var startTime= $('#starttime');
    var endTime= $('#endtime');
    var strStartDateTime = startDate.val() + " " + startTime.val();
    var strEndDateTime = startDate.val() + " " + endTime.val();

    var startTime =strStartDateTime.parseDate('yyyy-MM-dd HH:mm'); 
    var endTime =strEndDateTime.parseDate('yyyy-MM-dd HH:mm'); 
    if(endTime <= startTime){
    	alert("结束时间不能大于开始时间");
    }
    timeLen.val("1");
}

/*
$('#endtime')
.datetimepicker()
.on('changeDate', function(ev){
	$('#hasallday').val("0");
	$("#cHasAllDay").iCheck('uncheck');
});
*/        
             
$('#startdate').on('afterchange.bjui.datepicker', function(e, data) {
	var nowDate=$.fullCalendar.formatDate(new Date(),"yyyy-MM-dd");
	var startDate=$('#startdate').val();
	var mydate =startDate + ' ' + $('#starttime').val();

	if($('#startdate').val()!=nowDate)
	{
		$('#starttime').datetimepicker('setStartDate',startDate + ' 00:00'); 
	    //$('#starttime').datetimepicker('setStartDate');
	    //$('#starttime').datetimepicker('setStartDate', null);
	}
});

$('#cHasAllDay').on('ifChecked', function(event){
	
    var timeLen =  $('#timelength');
    var startDate= $('#startdate');
    var startTime= $('#starttime');
    var endTime= $('#endtime');
    var hasAllDay= $('#hasallday');
    
    startTime.val("00:00");
    endTime.val("23:59");
    timeLen.val("24");
    hasAllDay.val("1");
    
    
});

$('#cHasAllDay').on('ifUnchecked', function(event){
	
    var timeLen =  $('#timelength');
    var startDate= $('#startdate');
    var startTime= $('#starttime');
    var endTime= $('#endtime');
    var hasAllDay= $('#hasallday');
    
    getStartTime();
    //startTime.val(nowtime);
    
    //alert($.fullCalendar.formatDate(new Date(),"yyyy-MM-dd")+" "+nowtime);
    var nowtime30=$.fullCalendar.formatDate(new Date(),"yyyy-MM-dd")+" "+startTime.val();
    nowtime30=nowtime30.parseDate('yyyy-MM-dd HH:mm');
    nowtime30=DateAdd("m",30,nowtime30);
    var strnowtime30= nowtime30.getHours()+":"+nowtime30.getMinutes()
    endTime.val(strnowtime30);
    timeLen.val("0.5");
    hasAllDay.val("0");
});
	
	
$('#timelength').on('afterchange.bjui.spinner', function(e, data) {
	timeAdd();
});

function timeAdd(){
	
    var timeLen =  $('#timelength').val();
    var startDate= $('#startdate');
    var startTime= $('#starttime');
    var endTime= $('#endtime');
    var strDateTime = startDate.val() + " " + startTime.val();

    var nowTime =strDateTime.parseDate('yyyy-MM-dd HH:mm'); 
    
    nowTime.setMinutes(nowTime.getMinutes() + (timeLen * 60));
    endTime.val(nowTime.formatDate('HH:mm'));
}


$('#meetingid').on('change',
            function () {
			//动态变更会议室属性
			$("#MR_MeetingTV").iCheck('uncheck');
			$("#MR_MeetingProjection").iCheck('uncheck');
			$("#MR_MeetingVideo").iCheck('uncheck');
			$("#MR_MeetingTel").iCheck('uncheck');
        	$.ajax( {    
        	    url:'__URL__/AjaxGetMeetingRoomProperty',// 跳转到 action    
        	    data:{    
        	    	meetingid : $('#meetingid').val()  
        	    },    
        	    type:'post',    
        	    cache:false,    
        	    dataType:'json',    
        	    success:function(data) {    
        	    	
        	    	//var dataObj=eval("("+data+")");//转换为json对象
					//alert(data);
        	    	$.each(data[0], function(key, val){
        	          	var ctlObj = $("#MR_" + key);
        	          	var divObj = $("#DIV_" + key);
        	          	//ctlObj.attr("checked",true);
        	          	//$('input').iCheck('check'); — 将输入框的状态设置为checked
						//$('input').iCheck('uncheck'); — 移除 checked 状态
        	          
						//alert(val);
						//if (val == '0'){
        	          		//ctlObj.iCheck('uncheck');
        	          	//	divObj.attr("hidden",true);
        	          	//}

        	          	//else 
        	          	if (val == '1'){
        	          		//ctlObj.iCheck('check');
        	          		divObj.attr("hidden",false);
        	          	}
        	          	else{
        	          		//ctlObj.iCheck('uncheck');
        	          		divObj.attr("hidden",true);
        	          	}
						ctlObj.iCheck('uncheck');
	
        	    	}); 
        	    	
        	        var arrdev=[9,10,11,12];
        	        $("input[name='devs[]']").each(function() {
        	       	 //alert(parseInt($(this).val()));
        	       	 $(this).iCheck('enable');
        	       	 $(this).iCheck('uncheck');

        	   		 if($.inArray(parseInt($(this).val()),arrdev)!=-1){
        	   			 //$(this).iCheck('disable');
        	   		 }
        	    
        	   	    }); 
        	    	

        	     },    
        	     error : function() {    
        	          // view("异常！");    
        	          alert("异常！");    
        	     }
        	});
        	
        	
        	//alert("22222！");    
        	
});
                	
 //表单验证
 function CommitVerify(form)
 {
	 var flag = true;
	 $.ajax({
         	url: "__URL__/AjaxExistMeeingRoom",
         	data: $(form).serialize(),
         	type: "POST",
 	    	cache:false,    
 	    	dataType:'json',
 	        async:false,  // 设置同步方式
         	success: function(data){
         		
         		//$(this).alertmsg('error',data.error);
				if(data.ok ==""){
					flag =  true;
             	}
				else{
          	  	//失败
          	  		//alert(data.message);
					$(this).alertmsg('error',data.error);
					flag =  false;
          	  	}
         },
		 error: function(data){
			 //alert("error");
			 flag = false;
	         //me.holdSubmit(false);
	         $(this).alertmsg('error',"请选择会议室");
	     } 
     });
	 return flag;
 }

 
 $('form[name="MeetingReservEdit"]').validator({
	    stopOnError: false,
	    timely: true,
	    fields: {
	        'title': 'required;',
	        'username': 'required;'
	    },
	 	beforeSubmit: function (form){ 
		 	return CommitVerify(form); 
		}
	    ,    //验证成功
	    valid: function(form) {
	    	$(form).bjuiajax('ajaxForm',$(form).data());

	    },
	});
 
 /*
 $("#MeetingReservEdit").validator({ 
	 	focusCleanup:true,
 		stopOnError:false,
	    fields: {
	        'meetingid': {
	        	rule:"required;",
	        	msg:{required:"请选择会议室"}
	        }
	    },
	 	beforeSubmit: function (form){ 
		 	return CommitVerify(form); 
		}
}); 
*/
 
 

</script>

<div class="bjui-pageContent">

    <form name="MeetingReservEdit" action="__URL__/{:ACTION_NAME}/navTabId/{:CONTROLLER_NAME}" class="pageForm"  method="post" >
 		<!-- hidden -->
		<input type="hidden" name="id" id="id" value="{$id}">
		<!-- hidden 判断从哪个画面跳转来的，然后刷新哪个画面 -->
		 <input type="hidden" name="caltype" id="caltype" value="{$caltype}"> 

		<!-- <input type="button" value="Test1" onclick="getRowlValue()" > -->

		
        <div class="pageFormContent" data-layout-h="0">
          <table class="table table-condensed table-hover" width="100%">
           <tbody>

           <tr>
           		<td>
                <label for="j_title" class="control-label x85">会议室名称：</label>
                </td>
               	 <td>
               	 <!-- 
               	 data-nextselect="#myLoadDiv2" 
               	 data-refurl="__URL__/Ajaxloaddevsbymeetid?meetid={value}"
               	 data-nextselect="#myLoadDiv2" 
				data-refurl="__URL__/Ajaxloaddevs"
				data-toggle="refreshlayout" 
				data-target="#myLoadDiv2"
				onchange="changeMeetroom()"
               	  -->
                <select  name="meetingid" id="meetingid"  data-toggle="selectpicker" 
                data-rule="会议室名称: required;meetingid"
                
                >
	               	<option  value="">请选择会议室</option>
		         	
		          	<foreach name="listz" item="v">
	              	<option <if condition="$v.id EQ $Rs['meetingid'] ">selected value="{$Rs['meetingid']}" <else/>value="{$v.id}"</if>
	              	 >
		          	{$v.name}
		          	</option>
		          	
	              	</foreach>
	            </select>
           </td>
           </tr>
             
            <tr>
            	<td>
                	<label for="j_title" class="control-label x85">会议室属性：</label>
                </td>
               	<td>
               	
				   	<div style="padding-left:0px !important;"  id="DIV_hastv" class="col-md-3"  <if condition="$beforlist.hastv EQ 0"> hidden="false"</if> >
				  	<input type="checkbox" data-toggle="icheck" name="MR_hastv"  id="MR_hastv"  data-label="内置电视"   {$builtindeviceslist.hastv}/>
				</div>
			
					<div style="padding-left:0px !important;" id="DIV_hasprojection" class="col-md-3" <if condition="$beforlist.hasprojection EQ 0"> hidden="false"</if>>
					<input type="checkbox" data-toggle="icheck" name="MR_hasprojection" id="MR_hasprojection"  data-label="投影"  {$builtindeviceslist.hasprojection}/>
				</div>
				
					<div style="padding-left:0px !important;" id="DIV_hasvideo" class="col-md-3" <if condition="$beforlist.hasvideo EQ 0"> hidden="false"</if>>
					<input type="checkbox" data-toggle="icheck" name="MR_hasvideo"   id="MR_hasvideo"    data-label="视频会议"  {$builtindeviceslist.hasvideo}/>
				</div>
				
					<div style="padding-left:0px !important;" id="DIV_hastel" class="col-md-3" <if condition="$beforlist.hastel EQ 0"> hidden="false"</if>>
					<input type="checkbox" data-toggle="icheck" name="MR_hastel" id="MR_hastel"  data-label="电话会议"   {$builtindeviceslist.hastel}/>	
				</div>
						
															
               </td>
            </tr>
            
            <tr>
             	 <td>
                	<label for="j_sort" class="control-label x85">主题：</label>
                	</td>
               	 <td>
               		<input type="text"  name="title" id="title" value="{$Rs.title}">
             	 </td>
            </tr>

            <tr>
             	 <td>
                	<label for="j_sort" class="control-label x85">预订人：</label>
                	</td>
               	 <td>
               		<input type="text" name="username" id="j_username" value="<php> if(empty($beforlist['username']))  {echo session('username');} else { echo $beforlist['username'];} </php>" size="10"  readonly>
		            <input type="hidden" name="userid" id="j_userid" value="<php> if(empty($beforlist['userid']))  {echo session('uid');} else { echo $beforlist['userid'];} </php>" >
             	 </td>
            </tr>
  
            <tr><td>
               <label for="j_name" class="control-label x85">所在部门：</label>
               </td>
               	 <td>
               <input type="text" name=orgname id="j_orgname" value="{$orgName}" size="10"  readonly>
            <input type="hidden" name=orgid id="j_orgid" value="<php> if(empty($beforlist['orgid']))  {echo session('orgid');} else { echo $beforlist['orgid'];} </php>" >
             </td></tr>
            
            
            <tr>
             	 <td>
                	<label for="j_sort" class="control-label x85">日期：</label>
               	 </td>
               	 <td>
               		<input type="text" 
               		data-min-date="<php>echo date('Y-m-d',time());</php>" 
               		data-max-date="{$maxDate}"
               		name="startdate" id="startdate" 
               		value="<php> if(empty($Rs['startdate']))  {   if(empty($_REQUEST['sel_start'])) {echo date('Y-m-d', time());} else {echo date('Y-m-d', strtotime($_REQUEST['sel_start']));}  } else { echo $Rs['startdate'];} </php>" 
               		data-toggle="datepicker" data-rule="required;date" size="15">
             	 </td>
            </tr>
            
            <tr>
             	 <td>
                	<label for="j_sort" class="control-label x85">开始时间：</label>
                 </td>
               	 <td>
                    <input type="text"  name="starttime" id="starttime" 
                    value="<php> if(empty($Rs['starttime']))  {echo '00:00';} else { echo date('H:i', strtotime($Rs['starttime']));} </php>" 
                    data-date="$_REQUEST['sel_start'])"  
                    data-date-format="hh:ii" 
                    data-min-time="00:00" 
                    readonly>
             	 </td>
            </tr>
            
            <tr>
             	 <td>
                	<label for="j_sort" class="control-label x85">时长：</label>
                 </td>
               	 <td>
               		<input type="text" name='timelength' id='timelength' value=" <php> if(empty($Rs['timelength']))  {echo '0.5';} else { echo $Rs['timelength'];} </php>" data-toggle="spinner" data-min="0.5" data-max="24" data-step="0.5" data-decimalPlace='1' readonly>
             	 </td>
            </tr> 
            
            <tr>
             	 <td>
                	<label for="j_sort" class="control-label x85">结束时间：</label>
                 </td>
               	 <td>
               	    <input type="text" value="<php> if(empty($Rs['endtime']))  {echo date('H:i',strtotime('+30 minute',strtotime($_REQUEST['sel_start'])));} else { echo date('H:i', strtotime($Rs['endtime']));} </php>"  name="endtime" id="endtime" readonly>
             	 </td>
            </tr> 
            
            <tr>
             	 <td>
                	<label for="j_sort" class="control-label x85">是否全天：</label>
                 </td>
               	 <td>
               		<input type="checkbox" data-toggle="icheck"  name="cHasAllDay" id="cHasAllDay" <if condition="$Rs.hasallday EQ 1 ">checked</if>  >	
               		<input type="hidden"  name="hasallday" id="hasallday" value="<php> if(empty($Rs['hasallday']))  {echo '0';} else { echo $Rs['hasallday'];} </php>" >		
             	 </td>
            </tr> 
            
            <tr>
            
             	 <td width="20%">
                	 <label for="j_sort" class="control-label x85">与会设备：</label>
                 </td>
               	 <td>
                	 <empty name="id">
                         <div id="myLoadDiv2" data-toggle="autoajaxload"  data-url="__URL__/Ajaxloaddevs">
                	 	</div>   	 
                	 <else />
                	 	<div id="myLoadDiv2" data-toggle="autoajaxload"  data-url="__URL__/Ajaxloaddevs?id={#id}&startdate={#startdate}&starttime={#starttime}&endtime={#endtime}">
                	 	</div>
                	 </empty>
					
             	 </td>
            </tr> 
            
            <tr>
             	 <td>
                	<label for="j_sort" class="control-label x85">会议内容：</label>
                	</td>
               	 <td>
               	 	<textarea name="note" id="note"  cols="45" rows="5">{$Rs["note"]}</textarea>
               	 	
             	 </td>
            </tr>
            </tbody>
            </table>
        </div>
        
        <div class="bjui-footBar">
            <ul>
                 <!-- <li><a type="button" class="btn btn-default" data-toggle="doajax" >取消</a></li>-->
                <li><button type="button" class="btn-close" data-icon="close">取消</button></li> 
				<if condition="(ACTION_NAME NEQ 'view')  
				                and (
				                	   ($beforlist['userid'] EQ session('uid'))
				                	or ($beforlist['userid'] EQ '')
				                	or (authsuperadmin(session('uid')))
				                	)
				              ">
            		<li><button type="submit" class="btn-default" data-icon="save">保存</button></li>
            	</if>
            </ul>
        </div>
    </form>
</div>
