


<extend name="Public:form_index_pages_layout"/>

<block name="index_search">


<script type="text/javascript">
			
function checkenddtmeet(){
	
	//alert("checkenddtmeet");
    var startdt =  $('#s_startdtmeet').val();
    var enddt= $('#s_enddtmeet').val();
    if(enddt!=""&&startdt!=""){
     if(enddt<startdt)
     {
    	 //sdfsfsdfsf
    	 $(this).alertmsg('error',"结束日期不能小于开始日期！");
    	 //$('#s_enddt').val("");
    	 return false;
     }
     else
    	 return true;
    }
    else
    	return true;
}
</script>
		            <label>发起人：</label>
		            <input readonly="true" type="text" name="s_username" id="s_username" value="{$_REQUEST['s_username']}" size="10" data-toggle="lookup"  data-title="选择社员" data-url="__ROOT__/admin.php/public/selectuser?key=s_userid&value=s_username" data-width="700" data-height="800">
		            <input type="hidden" name="s_userid" id="s_userid" value="{$_REQUEST['s_userid']}" >
		            
		            <label>会议室：</label>
			            <select  name="s_meetingid" name="s_meetingid" data-toggle="selectpicker">
		               	<option  value="">请选择</option>
			         	<php>$listz=M('meeting')->where(array('status'=>1))->select();</php>
			          	<foreach name="listz" item="v">
		              	<option <if condition="$_REQUEST['s_meetingid'] EQ $v['id'] ">selected value="{$_REQUEST['s_meetingid']}" <else/>value="{$v.id}"</if> >
			          	{$v.name}
			          	</option>
		              	</foreach>
	           		</select>

            <label>开始日期：</label>
            <input type="text" name="time1" id="s_startdtmeet" data-toggle="datepicker" size="12"  value="{$_REQUEST['time1']}">
            
            <label>结束日期：</label>
            <input type="text" name="time2" id="s_enddtmeet" data-toggle="datepicker" size="12"  value="{$_REQUEST['time2']}">
            
		            
		            <button type="submit"  onclick="return checkenddtmeet();" class="btn-default" data-icon="search">查询</button>
		
						
					<include file="Public/form_index_titleoper_layout" h="800" w="600" />	
					
					 <span <php>echo display(CONTROLLER_NAME.'/del');</php> style="float:right;margin-right:5px;">
			  		<a href="__URL__/del/navTabId/{:CONTROLLER_NAME}" class="btn btn-red" data-toggle="doajaxchecked" data-confirm-msg="确定要删除吗？" data-icon="remove" data-idname="delids" data-group="ids">删除</a>
			  		</span>	
			  		 <span 
					      <php>echo display(CONTROLLER_NAME.'/upload');</php>>
					      <a href="__URL__/upload/navTabId/{:CONTROLLER_NAME}"  
					      class="btn btn-blue" data-toggle="dialog" 
					      data-width="300" data-height="300" 
					      data-id="dialog-mask" data-mask="true" 
					      data-icon="arrow-up">导入</a>
					      </span>
						<span <php>echo display(CONTROLLER_NAME.'/outxls');</php>>
						
						<a href="__URL__/outxls/navTabId/{:CONTROLLER_NAME}" class="btn btn-blue" 
						data-width="300" data-height="250" 
						data-toggle="dialog"  
						data-icon="arrow-down">导出
						</a>
						</span>
					     

		
</block>
		
<block name="index_content">
			<table data-toggle="tablefixed" data-width="100%" data-layout-h="0"
				data-nowrap="true">
				<thead>
					<tr>
						<th width="30" height="30"></th>
						<th data-order-direction="asc" data-order-field="id" >编号 </th>
						<th data-order-direction="asc" data-order-field="name">会议室</th>
						<th>主题</th>
						<th data-order-direction="asc" data-order-field="username">发起人</th>
						<th  data-order-direction="asc" data-order-field="startdate">日期</th>
						<th>开始时间</th>
						<th>结束时间</th>
						<th data-order-direction="asc" data-order-field="status">状态</th>
						<th>操作</th>
						<th width="26"><input type="checkbox" class="checkboxCtrl" data-group="ids" data-toggle="icheck"></th>
					</tr>
				</thead>
				<tbody>
		
				<foreach name="list" item="v">
					<tr>
						<td height=25></td>
						<Td>{$v.id}</td>
						<Td>{$v.name}</td>
						<Td>{$v.title}</td>
						<Td>{$v.username}</td>
						<Td>{$v.startdate}</td>
						<Td>{$v.starttime}</td>
						<Td>{$v.endtime}</td>
						<td>{$v.status}</td>
						<td>
							<include file="Public/form_index_operation_layout" h="800" w="600" />
						</td>
						<td>
							<if condition=" ($v.userid EQ session('uid')) or 
											($v.userid  EQ '') or 
											(authsuperadmin(session('uid')))  ">
							<input type="checkbox" name="ids" data-toggle="icheck" value="{$v.id}">
							</if>
						</td>
					</tr>
				</foreach>
				</tbody>
			</table>
</block>
    
